{
  "openapi": "3.1.0",
  "info": {
    "title": "GLIT API",
    "description": "GLIT 백엔드 API 문서",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://stg-api.glit.today",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Project",
      "description": "프로젝트 태그 API"
    },
    {
      "name": "StarRecord",
      "description": "심화기록 상세 조회·단독 삭제"
    },
    {
      "name": "Record",
      "description": "심화 기록(STAR) AI 태깅 API"
    },
    {
      "name": "Scrum",
      "description": "스크럼 sync"
    },
    {
      "name": "StarImage",
      "description": "STAR 이미지 업로드·삭제"
    },
    {
      "name": "Calendar",
      "description": "일자별 스크럼 조회"
    }
  ],
  "paths": {
    "/api/scrums/daily": {
      "put": {
        "tags": ["Scrum"],
        "summary": "일자별 스크럼 일괄 sync",
        "description": "지정한 일자(yyyy-MM-dd)의 스크럼을 요청 payload 상태로 동기화. titleId는 기존 ScrumTitle 참조, scrumId가 null이면 신규 생성, 요청에서 빠진 기존 스크럼은 삭제된다 (STAR cascade 포함).",
        "operationId": "syncDailyScrum",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncDailyScrumRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "동기화 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "날짜 형식·필드 검증 실패 또는 일자당 5개 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "미인증 또는 만료된 액세스 토큰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "titleId 또는 scrumId가 본인 소유가 아님 / 다른 일자의 scrumId",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "14일 초과 또는 심화기록(STAR) 작성된 스크럼 수정·삭제 시도",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/{starRecordId}/steps/{step}": {
      "post": {
        "tags": ["StarRecord"],
        "summary": "STAR 단계 저장",
        "description": "S·T·A·R 단계별 작성 내용을 저장한다. R 단계에서 isComplete=true 를 함께 보내면 STAR가 완료 처리된다.",
        "operationId": "updateStep",
        "parameters": [
          {
            "name": "starRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "step",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StarRecordStepUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 단계명 또는 빈 내용",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "미인증 또는 만료된 액세스 토큰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "403": {
            "description": "본인의 심화기록이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "심화기록을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/{starRecordId}/images/presigned-url": {
      "post": {
        "tags": ["StarImage"],
        "summary": "이미지 업로드 Presigned URL 발급",
        "description": "STAR R 단계 이미지 업로드용 S3 Presigned PUT URL을 발급한다. 응답의 presignedUrl로 직접 PUT 요청해 S3에 업로드한 뒤, 반드시 /confirm API를 호출해야 DB에 이미지가 등록된다. STAR당 최대 2장.",
        "operationId": "uploadImage",
        "parameters": [
          {
            "name": "starRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadStarImageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "발급 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListUploadStarImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "mimeType 형식 오류 / 이미지 2장 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListUploadStarImageResponse"
                }
              }
            }
          },
          "401": {
            "description": "미인증",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListUploadStarImageResponse"
                }
              }
            }
          },
          "403": {
            "description": "본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListUploadStarImageResponse"
                }
              }
            }
          },
          "404": {
            "description": "심화기록을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListUploadStarImageResponse"
                }
              }
            }
          },
          "409": {
            "description": "이미 완료된 심화기록",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListUploadStarImageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/{starRecordId}/images/confirm": {
      "post": {
        "tags": ["StarImage"],
        "summary": "이미지 업로드 완료 확인",
        "description": "S3 업로드 성공 후 호출. presigned-url 발급 시 응답받은 imageKey와 함께 요청하면 DB에 이미지가 등록된다.",
        "operationId": "confirmImage",
        "parameters": [
          {
            "name": "starRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmStarImageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "등록 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "imageKey 누락 / 이미지 2장 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "미인증",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "403": {
            "description": "본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "심화기록을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "이미 완료된 심화기록",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/{starRecordId}/ai-tagging": {
      "post": {
        "tags": ["Record"],
        "summary": "AI 태깅 트리거",
        "description": "STAR R단계 완료 후 AI 역량 태깅을 요청한다. 첫 태깅 시도 실패 시 재호출 가능.",
        "operationId": "triggerAiTagging",
        "parameters": [
          {
            "name": "starRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "AI 태깅 잡 생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "STAR 작성 미완료 또는 최종 실패(재시도 불가)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "미인증 또는 만료된 액세스 토큰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "403": {
            "description": "본인 소유 STAR 기록이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "STAR 기록을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "AI 태깅이 이미 진행 중",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/bulk": {
      "post": {
        "tags": ["StarRecord"],
        "summary": "심화 기록 일괄 생성",
        "description": "STAR 기록할 스크럼을 선택하면 스크럼마다 PENDING 상태의 StarRecord를 생성한다. 역량 선택 전에 호출해야 한다.",
        "operationId": "bulkCreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StarRecordBulkCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStarRecordBulkCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "중복 scrumId 또는 빈 목록",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStarRecordBulkCreateResponse"
                }
              }
            }
          },
          "404": {
            "description": "스크럼을 찾을 수 없음 (미존재 또는 타인 소유)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStarRecordBulkCreateResponse"
                }
              }
            }
          },
          "409": {
            "description": "이미 STAR가 완료된 스크럼 포함",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStarRecordBulkCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scrums/write": {
      "post": {
        "tags": ["Scrum"],
        "summary": "스크럼 일괄 저장",
        "description": "심화 기록 플로우 진입 전 스크럼을 PENDING 상태로 일괄 저장한다. 응답으로 반환된 scrumId는 역량 선택 및 STAR 기록에 사용된다.",
        "operationId": "bulkWrite",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrumBulkWriteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListScrumBulkWriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "필드 검증 실패 또는 날짜 형식 오류 또는 스크럼 5개 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListScrumBulkWriteResponse"
                }
              }
            }
          },
          "401": {
            "description": "미인증 또는 만료된 액세스 토큰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListScrumBulkWriteResponse"
                }
              }
            }
          },
          "404": {
            "description": "projectId가 본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListScrumBulkWriteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects": {
      "get": {
        "tags": ["Project"],
        "summary": "프로젝트 태그 목록 조회",
        "description": "생성 시간 내림차순으로 페이지 단위 조회한다.",
        "operationId": "getProjects",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProjectsResponse"
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 page/size 입력값",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProjectsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Project"],
        "summary": "프로젝트 태그 생성",
        "description": "새 프로젝트 태그를 생성한다. 동일 이름이 존재하면 409를 반환한다.",
        "operationId": "createProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectNameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProjectCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 입력값",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProjectCreateResponse"
                }
              }
            }
          },
          "409": {
            "description": "이미 존재하는 태그 이름",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProjectCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scrums/competencies": {
      "patch": {
        "tags": ["Scrum"],
        "summary": "스크럼 역량 선택",
        "description": "STAR 기록 시작 전 스크럼에 역량을 지정한다.",
        "operationId": "updateCompetency",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrumCompetencyUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "역량 선택 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "필드 검증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "미인증 또는 만료된 액세스 토큰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "scrumId가 본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/projects/{projectId}": {
      "delete": {
        "tags": ["Project"],
        "summary": "프로젝트 태그 삭제",
        "description": "연결된 기록이 없는 경우에만 삭제 가능하다.",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "프로젝트 태그를 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "연결된 기록이 있어 삭제 불가",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Project"],
        "summary": "프로젝트 태그 이름 수정",
        "description": "태그 이름을 수정한다. 동일 이름이 존재하면 409를 반환한다.",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectNameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "400": {
            "description": "유효하지 않은 입력값",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "프로젝트 태그를 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "이미 존재하는 태그 이름",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/{starRecordId}": {
      "get": {
        "tags": ["StarRecord"],
        "summary": "심화기록 상세 조회",
        "description": "심화기록 본문(S·T/A/R) + 카테고리·자유작성 + 대표 역량/세부 태그 + 첨부 이미지 목록을 반환한다. 이미지·세부 태그가 없으면 빈 배열로 응답한다.",
        "operationId": "getStarDetail",
        "parameters": [
          {
            "name": "starRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStarDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "미인증 또는 만료된 액세스 토큰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStarDetailResponse"
                }
              }
            }
          },
          "403": {
            "description": "본인의 심화기록이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStarDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "심화기록을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStarDetailResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["StarRecord"],
        "summary": "심화기록 단독 삭제",
        "description": "STAR를 soft-delete 하고 연결된 Scrum의 hasStar 플래그를 false로 동기화한다. 스크럼 본문은 보존된다.",
        "operationId": "deleteStar",
        "parameters": [
          {
            "name": "starRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "미인증 또는 만료된 액세스 토큰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "403": {
            "description": "본인의 심화기록이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "심화기록을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/{starRecordId}/images": {
      "get": {
        "tags": ["StarImage"],
        "summary": "이미지 목록 조회",
        "description": "STAR 기록에 첨부된 이미지 목록을 sortOrder 오름차순으로 반환한다.",
        "operationId": "getImages",
        "parameters": [
          {
            "name": "starRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListStarImageListItemResponse"
                }
              }
            }
          },
          "401": {
            "description": "미인증",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListStarImageListItemResponse"
                }
              }
            }
          },
          "403": {
            "description": "본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListStarImageListItemResponse"
                }
              }
            }
          },
          "404": {
            "description": "심화기록을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListStarImageListItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/{starRecordId}/ai-tagging/status": {
      "get": {
        "tags": ["Record"],
        "summary": "AI 태깅 상태 폴링",
        "description": "AI 태깅 잡의 현재 상태와 재시도 횟수를 반환한다. FAILED && retryCount=0이면 재시도 가능, retryCount=1이면 최종 실패.",
        "operationId": "getAiTaggingStatus",
        "parameters": [
          {
            "name": "starRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "상태 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAiTaggingStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "미인증 또는 만료된 액세스 토큰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAiTaggingStatusResponse"
                }
              }
            }
          },
          "403": {
            "description": "본인 소유 STAR 기록이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAiTaggingStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "STAR 기록 또는 잡을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAiTaggingStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/{starRecordId}/ai-tagging/result": {
      "get": {
        "tags": ["Record"],
        "summary": "AI 태깅 결과 조회",
        "description": "AI 태깅이 완료된 경우 대표 역량과 세부 태그를 반환한다. SUCCESS 상태가 아니면 400을 반환한다.",
        "operationId": "getAiTaggingResult",
        "parameters": [
          {
            "name": "starRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "결과 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAiTaggingResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "AI 태깅이 아직 완료되지 않음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAiTaggingResultResponse"
                }
              }
            }
          },
          "401": {
            "description": "미인증 또는 만료된 액세스 토큰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAiTaggingResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "본인 소유 STAR 기록이 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAiTaggingResultResponse"
                }
              }
            }
          },
          "404": {
            "description": "STAR 기록 또는 잡을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAiTaggingResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/home-summary": {
      "get": {
        "tags": ["StarRecord"],
        "summary": "홈 복귀 요약 정보 조회",
        "description": "STAR 기록 완료 후 홈 복귀 시 코치마크(isFirstStar)와 리포트 모달 노출 여부를 반환한다.",
        "operationId": "getHomeSummary",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseHomeSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "미인증",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseHomeSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/calendar/daily": {
      "get": {
        "tags": ["Calendar"],
        "summary": "일자별 스크럼 조회",
        "description": "지정한 일자(yyyy-MM-dd)의 스크럼을 ScrumTitle 단위로 그룹핑해 반환. 스크럼이 없으면 빈 배열을 반환한다.",
        "operationId": "getDailyCalendar",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCalendarDailyResponse"
                }
              }
            }
          },
          "400": {
            "description": "날짜 형식이 올바르지 않음 (yyyy-MM-dd)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCalendarDailyResponse"
                }
              }
            }
          },
          "401": {
            "description": "미인증 또는 만료된 액세스 토큰",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCalendarDailyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/star-records/{starRecordId}/images/{imageId}": {
      "delete": {
        "tags": ["StarImage"],
        "summary": "이미지 삭제",
        "description": "STAR 이미지를 S3와 DB에서 함께 삭제한다. 완료된 심화기록의 이미지는 삭제할 수 없다.",
        "operationId": "deleteImage",
        "parameters": [
          {
            "name": "starRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "imageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "미인증",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "403": {
            "description": "본인 소유가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "이미지를 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "409": {
            "description": "이미 완료된 심화기록",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GroupRequest": {
        "type": "object",
        "description": "ScrumTitle 그룹",
        "properties": {
          "titleId": {
            "type": "integer",
            "format": "int64",
            "description": "기존 스크럼 제목 ID",
            "example": 12
          },
          "items": {
            "type": "array",
            "description": "그룹 내 항목 목록",
            "items": {
              "$ref": "#/components/schemas/ItemRequest"
            }
          }
        },
        "required": ["items", "titleId"]
      },
      "ItemRequest": {
        "type": "object",
        "description": "스크럼 항목",
        "properties": {
          "scrumId": {
            "type": "integer",
            "format": "int64",
            "description": "스크럼 ID (null이면 신규 생성)",
            "example": 37
          },
          "content": {
            "type": "string",
            "description": "본문 (최대 50자)",
            "example": "와이어프레임 설계",
            "maxLength": 50,
            "minLength": 0
          }
        },
        "required": ["content"]
      },
      "SyncDailyScrumRequest": {
        "type": "object",
        "description": "일자별 스크럼 sync 요청",
        "properties": {
          "groups": {
            "type": "array",
            "description": "ScrumTitle 단위 그룹 목록",
            "items": {
              "$ref": "#/components/schemas/GroupRequest"
            }
          }
        },
        "required": ["groups"]
      },
      "ApiResponseVoid": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "description": "응답 데이터"
          }
        }
      },
      "StarRecordStepUpdateRequest": {
        "type": "object",
        "description": "STAR 단계 저장 요청",
        "properties": {
          "userAnswer": {
            "type": "string",
            "description": "단계 작성 내용 (최대 300자)",
            "maxLength": 300,
            "minLength": 0
          }
        },
        "required": ["userAnswer"]
      },
      "UploadStarImageRequest": {
        "type": "object",
        "properties": {
          "mimeTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "pattern": "image/jpeg|image/png"
            },
            "maxItems": 2,
            "minItems": 0
          }
        },
        "required": ["mimeTypes"]
      },
      "ApiResponseListUploadStarImageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": {
              "$ref": "#/components/schemas/UploadStarImageResponse"
            }
          }
        }
      },
      "UploadStarImageResponse": {
        "type": "object",
        "properties": {
          "imageKey": {
            "type": "string"
          },
          "presignedUrl": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          }
        }
      },
      "ConfirmStarImageRequest": {
        "type": "object",
        "properties": {
          "imageKeys": {
            "type": "array",
            "description": "Presigned URL 발급 시 반환된 imageKey 목록",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "maxItems": 2,
            "minItems": 0
          }
        },
        "required": ["imageKeys"]
      },
      "ScrumItem": {
        "type": "object",
        "description": "스크럼 항목",
        "properties": {
          "scrumId": {
            "type": "integer",
            "format": "int64",
            "description": "스크럼 식별자",
            "example": 1000
          }
        },
        "required": ["scrumId"]
      },
      "StarRecordBulkCreateRequest": {
        "type": "object",
        "description": "심화 기록 생성 요청",
        "properties": {
          "items": {
            "type": "array",
            "description": "STAR 기록할 스크럼 목록",
            "items": {
              "$ref": "#/components/schemas/ScrumItem"
            },
            "minItems": 1
          }
        },
        "required": ["items"]
      },
      "ApiResponseStarRecordBulkCreateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "$ref": "#/components/schemas/StarRecordBulkCreateResponse",
            "description": "응답 데이터"
          }
        }
      },
      "StarRecordBulkCreateResponse": {
        "type": "object",
        "description": "심화 기록 생성 응답",
        "properties": {
          "items": {
            "type": "array",
            "description": "생성된 StarRecord 목록 (요청 순서와 동일)",
            "items": {
              "$ref": "#/components/schemas/StarRecordItem"
            }
          }
        }
      },
      "StarRecordItem": {
        "type": "object",
        "description": "StarRecord 항목",
        "properties": {
          "starRecordId": {
            "type": "integer",
            "format": "int64",
            "description": "심화 STAR 식별자",
            "example": 20000
          }
        }
      },
      "ScrumBulkWriteRequest": {
        "type": "object",
        "description": "스크럼 일괄 저장 요청",
        "properties": {
          "date": {
            "type": "string",
            "description": "기준일 (yyyy-MM-dd)",
            "example": "2024-04-10",
            "minLength": 1
          },
          "scrumsByTitle": {
            "type": "array",
            "description": "제목 단위 스크럼 묶음",
            "items": {
              "$ref": "#/components/schemas/ScrumByTitleRequest"
            },
            "minItems": 1
          }
        },
        "required": ["date", "scrumsByTitle"]
      },
      "ScrumByTitleRequest": {
        "type": "object",
        "description": "스크럼 제목 단위 묶음",
        "properties": {
          "projectId": {
            "type": "integer",
            "format": "int64",
            "description": "프로젝트 식별자",
            "example": 1000
          },
          "freeText": {
            "type": "string",
            "description": "자유 입력란 (최대 20자)",
            "example": "4/22 기획 작업",
            "maxLength": 20,
            "minLength": 0
          },
          "scrums": {
            "type": "array",
            "description": "스크럼 목록",
            "items": {
              "$ref": "#/components/schemas/ScrumContentRequest"
            },
            "minItems": 1
          }
        },
        "required": ["freeText", "projectId", "scrums"]
      },
      "ScrumContentRequest": {
        "type": "object",
        "description": "스크럼 항목",
        "properties": {
          "content": {
            "type": "string",
            "description": "스크럼 내용 (최대 50자)",
            "example": "AUTH API",
            "maxLength": 50,
            "minLength": 0
          }
        },
        "required": ["content"]
      },
      "ApiResponseListScrumBulkWriteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": {
              "$ref": "#/components/schemas/ScrumBulkWriteResponse"
            }
          }
        }
      },
      "ScrumBulkWriteResponse": {
        "type": "object",
        "description": "스크럼 제목 단위 저장 결과",
        "properties": {
          "projectName": {
            "type": "string",
            "description": "프로젝트 이름 (최대 15자)",
            "example": "밋업프로젝트"
          },
          "freeText": {
            "type": "string",
            "description": "자유 입력란 (최대 20자)",
            "example": "4/22 기획 작업"
          },
          "scrums": {
            "type": "array",
            "description": "저장된 스크럼 목록",
            "items": {
              "$ref": "#/components/schemas/ScrumItem"
            }
          }
        }
      },
      "ProjectNameRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "프로젝트 태그 이름 (최대 15자)",
            "example": "2026 U-KATHON",
            "maxLength": 15,
            "minLength": 0
          }
        },
        "required": ["name"]
      },
      "ApiResponseProjectCreateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "$ref": "#/components/schemas/ProjectCreateResponse",
            "description": "응답 데이터"
          }
        }
      },
      "ProjectCreateResponse": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer",
            "format": "int64",
            "description": "생성된 프로젝트 식별자",
            "example": 157
          },
          "name": {
            "type": "string",
            "description": "생성된 프로젝트 이름",
            "example": "2026 U-KATHON"
          }
        }
      },
      "ScrumCompetencyItem": {
        "type": "object",
        "properties": {
          "scrumId": {
            "type": "integer",
            "format": "int64"
          },
          "competency": {
            "type": "string",
            "enum": [
              "DISCOVERY_ANALYSIS",
              "PLANNING_EXECUTION",
              "COLLABORATION",
              "PROBLEM_SOLVING",
              "REFLECTION_GROWTH"
            ]
          }
        },
        "required": ["competency", "scrumId"]
      },
      "ScrumCompetencyUpdateRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScrumCompetencyItem"
            },
            "minItems": 1
          }
        },
        "required": ["items"]
      },
      "ApiResponseStarDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "$ref": "#/components/schemas/StarDetailResponse",
            "description": "응답 데이터"
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "description": "STAR R 단계 첨부 이미지",
        "properties": {
          "imageId": {
            "type": "integer",
            "format": "int64",
            "description": "이미지 식별자",
            "example": 1
          },
          "imageUrl": {
            "type": "string",
            "description": "이미지 URL (최대 500자)",
            "example": "https://..."
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32",
            "description": "표시 순서 (0~1)",
            "example": 0
          }
        }
      },
      "StarDetailResponse": {
        "type": "object",
        "description": "심화기록 상세 조회 응답",
        "properties": {
          "starRecordId": {
            "type": "integer",
            "format": "int64",
            "description": "심화기록 식별자",
            "example": 1
          },
          "projectTag": {
            "type": "string",
            "description": "프로젝트 태그명 (최대 15자)",
            "example": "밋업 프로젝트"
          },
          "freeText": {
            "type": "string",
            "description": "제목 자유작성 (최대 20자)",
            "example": "기획 작업"
          },
          "scrumContent": {
            "type": "string",
            "description": "스크럼 본문 (최대 50자)",
            "example": "어드민 페이지 기능명세서 작성"
          },
          "primaryCategory": {
            "type": "string",
            "description": "대표 역량 (5대 역량 enum)",
            "example": "PLANNING_EXECUTION"
          },
          "detailTags": {
            "type": "array",
            "description": "세부 역량 태그 목록 (최대 3개, 빈 배열 가능)",
            "example": ["UX 설계", "품질 관리"],
            "items": {
              "type": "string"
            }
          },
          "situationTask": {
            "type": "string",
            "description": "S·T 단계 내용 (최대 300자)",
            "example": "어드민 페이지 기획을 맡게 되었고..."
          },
          "action": {
            "type": "string",
            "description": "A 단계 내용 (최대 300자)",
            "example": "팀원들과 회의를 통해..."
          },
          "result": {
            "type": "string",
            "description": "R 단계 내용 (최대 300자)",
            "example": "기능명세서를 완성하여..."
          },
          "images": {
            "type": "array",
            "description": "R 단계 첨부 이미지 목록 (최대 2장, 빈 배열 가능)",
            "items": {
              "$ref": "#/components/schemas/ImageResponse"
            }
          }
        }
      },
      "ApiResponseListStarImageListItemResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "type": "array",
            "description": "응답 데이터",
            "items": {
              "$ref": "#/components/schemas/StarImageListItemResponse"
            }
          }
        }
      },
      "StarImageListItemResponse": {
        "type": "object",
        "properties": {
          "starImageId": {
            "type": "integer",
            "format": "int64"
          },
          "imageUrl": {
            "type": "string"
          }
        }
      },
      "AiTaggingStatusResponse": {
        "type": "object",
        "description": "AI 태깅 상태 폴링 응답",
        "properties": {
          "status": {
            "type": "string",
            "description": "잡 상태",
            "enum": ["QUEUED", "RUNNING", "SUCCESS", "FAILED"],
            "example": "RUNNING"
          },
          "retryCount": {
            "type": "integer",
            "format": "int32",
            "description": "재시도 횟수. 0=초기, 1=1차 실패 후 재시도 중",
            "example": 0
          }
        }
      },
      "ApiResponseAiTaggingStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "$ref": "#/components/schemas/AiTaggingStatusResponse",
            "description": "응답 데이터"
          }
        }
      },
      "AiTaggingResultResponse": {
        "type": "object",
        "description": "AI 태깅 결과 조회 응답",
        "properties": {
          "status": {
            "type": "string",
            "description": "잡 상태",
            "enum": ["QUEUED", "RUNNING", "SUCCESS", "FAILED"],
            "example": "SUCCESS"
          },
          "primaryCategory": {
            "type": "string",
            "description": "대표 역량",
            "enum": [
              "DISCOVERY_ANALYSIS",
              "PLANNING_EXECUTION",
              "COLLABORATION",
              "PROBLEM_SOLVING",
              "REFLECTION_GROWTH"
            ],
            "example": "DISCOVERY_ANALYSIS"
          },
          "detailTags": {
            "type": "array",
            "description": "세부 태그 목록 (최대 3개)",
            "example": ["이해관계자 조율", "UX 설계", "품질 관리"],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApiResponseAiTaggingResultResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "$ref": "#/components/schemas/AiTaggingResultResponse",
            "description": "응답 데이터"
          }
        }
      },
      "ApiResponseHomeSummaryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "$ref": "#/components/schemas/HomeSummaryResponse",
            "description": "응답 데이터"
          }
        }
      },
      "HomeSummaryResponse": {
        "type": "object",
        "properties": {
          "isFirstStar": {
            "type": "boolean"
          },
          "reportModal": {
            "$ref": "#/components/schemas/ReportModal"
          }
        }
      },
      "ReportModal": {
        "type": "object",
        "properties": {
          "show": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "enum": ["MINI", "FULL"]
          }
        }
      },
      "ApiResponseProjectsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "$ref": "#/components/schemas/ProjectsResponse",
            "description": "응답 데이터"
          }
        }
      },
      "ProjectSummary": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer",
            "format": "int64",
            "description": "프로젝트 식별자",
            "example": 153
          },
          "name": {
            "type": "string",
            "description": "프로젝트 이름",
            "example": "졸업프로젝트"
          },
          "deletable": {
            "type": "boolean",
            "description": "삭제 가능 여부 (연결된 기록 없는 경우 true)",
            "example": true
          }
        }
      },
      "ProjectsResponse": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "현재 페이지",
            "example": 0
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "페이지 사이즈",
            "example": 5
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "description": "전체 페이지 수",
            "example": 3
          },
          "projects": {
            "type": "array",
            "description": "프로젝트 목록",
            "items": {
              "$ref": "#/components/schemas/ProjectSummary"
            }
          }
        }
      },
      "ApiResponseCalendarDailyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "code": {
            "type": "string",
            "description": "HTTP 상태 코드",
            "example": "200"
          },
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "조회 성공"
          },
          "data": {
            "$ref": "#/components/schemas/CalendarDailyResponse",
            "description": "응답 데이터"
          }
        }
      },
      "CalendarDailyResponse": {
        "type": "object",
        "description": "일자별 스크럼 조회 응답",
        "properties": {
          "groups": {
            "type": "array",
            "description": "ScrumTitle 단위 그룹 목록 (없으면 빈 배열)",
            "items": {
              "$ref": "#/components/schemas/GroupResponse"
            }
          }
        }
      },
      "GroupResponse": {
        "type": "object",
        "description": "ScrumTitle 그룹",
        "properties": {
          "titleId": {
            "type": "integer",
            "format": "int64",
            "description": "스크럼 제목 ID",
            "example": 12
          },
          "projectTag": {
            "type": "string",
            "description": "프로젝트 태그 (최대 15자)",
            "example": "밋업 프로젝트"
          },
          "freeText": {
            "type": "string",
            "description": "자유작성 (최대 20자)",
            "example": "기획 작업"
          },
          "isEditable": {
            "type": "boolean",
            "description": "그룹 내 수정 가능한 항목이 하나라도 있는지",
            "example": true
          },
          "items": {
            "type": "array",
            "description": "그룹 내 항목 목록",
            "items": {
              "$ref": "#/components/schemas/ItemResponse"
            }
          }
        }
      },
      "ItemResponse": {
        "type": "object",
        "description": "스크럼 항목",
        "properties": {
          "scrumId": {
            "type": "integer",
            "format": "int64",
            "description": "스크럼 ID",
            "example": 37
          },
          "content": {
            "type": "string",
            "description": "본문 (최대 50자)",
            "example": "와이어프레임 설계"
          },
          "hasStar": {
            "type": "boolean",
            "description": "심화기록(STAR) 작성 여부",
            "example": false
          },
          "isEditable": {
            "type": "boolean",
            "description": "수정 가능 여부 (14일 이내 + hasStar=false)",
            "example": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "in": "header",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
